ul.bulletlist {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
    margin-left: 25px;
}

ul.bulletlist li a {
    font-weight: bold;
    text-decoration: none;
    border: 0px solid white;
}
