Redirect 302 /baps.html https://omnicommons.org/wiki/Collectives#Bay_Area_Public_School
Redirect 302 /ccl.html  https://omnicommons.org/wiki/Collectives#Counter_Culture_Labs
Redirect 302 /fnb.html  https://omnicommons.org/wiki/Collectives#Food_Not_Bombs
Redirect 302 /gws.html  https://omnicommons.org/wiki/Collectives#Global_Womens_Strike
Redirect 302 /mpm.html  https://omnicommons.org/wiki/Collectives#Material_Print_Machine
Redirect 302 /opal.html https://omnicommons.org/wiki/Collectives#Liberated_Lens
Redirect 302 /pb.html   https://omnicommons.org/wiki/Collectives#Phat_Beets
Redirect 302 /sr.html   https://omnicommons.org/wiki/Collectives#Sudo_Room
Redirect 302 /til.html  https://omnicommons.org/wiki/Collectives#Timeless_Infinite_Light
Redirect 302 /igty.html https://omnicommons.org/thank-you.html
